<div>
  <div>
    <h1>
      The Stream
    </h1>
  </div>
</div>

<hr>

<% if current_user.present? %>
<div>
  <div>
    <h2>
      Join the stream!
    </h2>

    <form action="/insert_poem" method="post">
      <div>
        <label for="title_box">
          What do you want your Poem to be titled?
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <div>
        <label for="poem_box">
          What do you want your Poem to be about?
        </label>

        <textarea id="poem_box" name="query_poem" rows="2" placeholder="How are you feeling today?"></textarea>
      </div>

      <div>
        <label for="title_box">
          How cursed do you want your poem to be? (0 to 1 for more cursed but creative)
        </label>

        <input type="text" id="title_box" name="query_temp">
      </div>

      <button>
        Create poem
      </button>
    </form>
  </div>
</div>
<% else %>
<div>
  <div>
    <h2>
      You need to be signed in as a user to add to the stream!
    </h2>
  </div>
</div>
<% end %>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Title
        </th>

        <th>
          Poem
        </th>

        <th>
          User
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_poems.each do |a_poem| %>
      <tr>

        <td>
          <%= a_poem.title %>
        </td>

        <td>
          <%= a_poem.poem %>
        </td>

        <td>
          <%= a_poem.user_id %>
        </td>

        <td>
          <a href="/poems/<%= a_poem.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
