<div>
  <div>
    <h1>
      Poem #<%= @the_poem.id %> details
    </h1>

    <div>
      <div>
        <a href="/poems">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_poem/<%= @the_poem.id %>">
          Delete poem
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_poem.title %>
      </dd>

      <dt>
        Poem
      </dt>
      <dd>
        <%= @the_poem.poem %>
      </dd>

    </dl>
  </div>
</div>

<hr>
